# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
*.pyc

# Environment & Logs
.env
.env.local
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
work_orders/src/oracle_credentials.php
