services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    environment:
      # We use the specific Traefik v3 variable to force the API version
      - TRAEFIK_PROVIDERS_DOCKER_VERSION=1.44
      - DOCKER_API_VERSION=1.44
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./conf.d:/etc/traefik/conf.d:ro
    networks:
      - proxy
    labels:
      - "traefik.enable=true"

networks:
  proxy:
    external: true